    <div class="jumbotron well">
      <h2>
        <span>Welcome to the Digital Docent!</span>
      </h2>
      <h2>
        <small>Digital Docent is an app to showcase your art, collectables, and memorabilia-- by item, by room, by artist, or by collection.</small>
      </h2>
      <p>
        <a class="btn btn-primary btn-large" href="#">View Featured</a>
      </p>
    </div>
  </div>
</div>

<div class="row" id="browse-previews">
  <div class="col-md-4">
    <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
    <p>
      <%= link_to 'Browse by Rooms >>', rooms_path, class: "btn" %>
    </p>
  </div>
  <div class="col-md-4">
    <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
    <p>
      <%= link_to 'Browse by Items >>', items_path, class: "btn" %>
    </p>
  </div>
  <div class="col-md-4">
    <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
    <p>
      <%= link_to 'Browse by Artists >>', artists_path, class: "btn" %>
    </p>
  </div>
</div>
