  </div>
</div>
    <footer class="row well footer">

          <br><p>
          Website by <a href="http://www.marydickson.com">Mary Dickson</a>, 2016. Find me on <a href="http://www.github.com/marythought">Github</a>, <a href="http://www.twitter.com/marythought">Twitter</a>, and <a href="https://www.linkedin.com/in/mcdickson">Linkedin</a>. | <%= link_to 'Admin log in', new_admin_session_path %></p>

    </footer>

</div>
