<div id="admin-footer">
    <p> Website by <a href="http://www.marydickson.com">Mary Dickson</a>, 2016. Find me on <a href="http://www.github.com/marythought">Github</a>, <a href="http://www.twitter.com/marythought">Twitter</a>, and <a href="https://www.linkedin.com/in/mcdickson">Linkedin</a>.</p>
</div>
